#wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contents{
  margin-top: -50px;
}

h1 {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}
h2{
  text-align: center;
  margin: 0 0 20px 0;
}



ul#root-menu li{
  margin: 0 0 20px;
}
ul#root-menu li a{
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  background-color: #333;
  color: #fff;
  padding: 18px 20px;
  text-align: center;
}
